<!DOCTYPE html>
<html ng-app="TestApp">
  <head>
    <meta charset="utf-8">
    <title>The Mean Stack</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body ng-controller="MainController as vm">

    {{ vm.message }}

  <script src="/assets/js/app.js" charset="utf-8"></script>
  </body>
</html>
